<launch>
  <rosparam file="$(find mvr_robot_control)/config/default_positions_hunter.yaml" command="load" />
  <rosparam file="$(find mvr_robot_control)/config/joint_limits_hunter.yaml" command="load" />
  <rosparam file="$(find mvr_robot_control)/config/joint_pds_hunter.yaml" command="load" />

  <node name="hunter_hw_node" pkg="mvr_robot_control" type="hunter_robot_control" output="screen">
    <param name="loop_frequency" value="100.0" />
    <param name="cycle_time_error_threshold" value="0.01" />
  </node>

  <include file="$(find yesense_imu)/launch/run_without_rviz.launch" />
</launch>
